@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

  .header {
    background-color: #1F2937;
    /* width: 1000px; */
    color: white;
    align-items: center;
    justify-content: space-around;
    display: flex;
  }

  .header-links {
    display: flex;
    gap:10px;
  }

  .header-links a{
    text-decoration: none;
    color:white
  }

  /* .two {
    background-color: white;
    height: 250px;
    width: 1000px;
  }


  .three {
    background-color: #E5E7EB;
    height: 250px;
    width: 1000px;
  }
  
  .four {
        background-color: white;
        height: 150px;
        width: 1000px;
    
  }

  .five {
    background-color: #1F2937;
    height: 60px;
    width: 1000px;

} */